{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网约车系统</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="middle-container">
        <h1 class="h1">网约车系统</h1>
        <div>
            <a class="button" href="/login/">登录</a>
            <a class="button" href="/register/">注册</a>
            <a class="button" href="/change/">修改密码</a>
        </div>
    </div>
</body>

</html>